NEXT_PUBLIC_SITE_URL=https://dkenterprise.example.com
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=notifications@example.com
SMTP_PASS=your-password
SMTP_FROM=DK Enterprise <notifications@example.com>
NOTIFICATION_TO=contact@dkenterprise.com
MONGODB_URI=mongodb://abhishekvaja27_db_user:6Hg9xUBz2YBqMltF@ac-y8umuia-shard-00-00.viquoe8.mongodb.net:27017,ac-y8umuia-shard-00-01.viquoe8.mongodb.net:27017,ac-y8umuia-shard-00-02.viquoe8.mongodb.net:27017/?ssl=true&replicaSet=atlas-5cka2g-shard-0&authSource=admin&appName=Cluster0